.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.page-enter-active {
  animation: bounceIn 0.5s;
}
.page-enter-active {
  animation: bounceOut 0.5s;
}
@keyframes bounceIn {
  0% {
    transform: scale(.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }  
}

@keyframes bounceOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(.9);
    opacity: 0;
  }  
}
